/*body styling*/
body{
    background: url(background.png);
    background-size: cover;
}
/*first div block styling*/
.div1{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    color: black;
}
/*change color when hovered*/
h2:hover{
    background-color: red;
}
/*styl a tag*/
a{
    text-decoration: none;
    color: black;
}
/*first img*/
#img1{
    position: absolute;
    bottom: 40%;
    left: 10px;
    border: solid;
    border-radius: 100px;
    height: 250px;
}
/*second img*/
#img2{
    position: absolute;
    bottom: 40%;
    right: 20px;
    border: solid;
    border-radius: 100px;
    height: 265px;
    width: 500px;
}
/*third img*/
#img3{
    height: 250px;
    position: absolute;
    top: 70%;
    left: 10px;
    border: solid;
    border-radius: 100px;
}
/*fourth img*/
#img4{
    height: 250px;
    position: absolute;
    top: 70%;
    right: 20px;
    width: 500px;
    border: solid;
    border-radius: 100px;
}