a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a:hover {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

a:active {
    font-size: 14px;
    font-weight: 300;
    color: #008000;
}
