#parent{
    height: 700px;
    width: 700px;
    background-color: lightblue;
    position: relative;
}
#child{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    left: 350px;
    bottom: 350px;
}