body{
  margin: 0;
  padding: 0;
}
.main-div2{
  display: flex;
  background-color: black;
  justify-content: center;
}
.img1{
  height: 80px;
  margin: 10px;
  border: solid 1px;
  border-radius: 30px;
}
.child-div1{
  color: white;
  margin: 10px;
}

