.my-div {
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 1s ease, color 2s ease, background-color 2s ease;
  }
  
  .my-div:active {
    font-size: 25px;
    color: black;
    background-color: white;
  }

  
  